body {margin-top:0px; }
#mainContainer {width:300px;position:relative;margin:auto;padding-top:15px;overflow:hidden;}

.roundedCorners .topWhiteShadow .c, .roundedCorners .btmWhiteShadow .c {font-size:1px;height:5px;}
.roundedCorners .topWhiteShadow .c, .roundedCorners .mdlWhiteShadow .c, .roundedCorners .btmWhiteShadow .c {text-align:center;} 
.roundedCorners .btmWhiteShadow {height:1%;}
html>body .roundedCorners .btmWhiteShadow {height:auto;}
.roundedCorners {padding:0px;margin:0px auto;}
.roundedCorners .topWhiteShadow {background:transparent url(../images/corner_whiteShadow_lt.gif) repeat-y 0 0;}
.roundedCorners .topWhiteShadow .c {background:transparent url(../images/corner_whiteShadow_rt.gif) no-repeat right 0;}
.roundedCorners .mdlWhiteShadow {background:transparent url(../images/corner_whiteShadow_lm.gif) repeat-y 0 0;}
.roundedCorners .mdlWhiteShadow .c {background:transparent url(../images/corner_whiteShadow_rm.gif) repeat-y right 0;}
.roundedCorners .btmWhiteShadow {background:transparent url(../images/corner_whiteShadow_lb.gif) no-repeat 0 0;}
.roundedCorners .btmWhiteShadow .c {background:transparent url(../images/corner_whiteShadow_rb.gif) no-repeat right 0;}

a:link {text-decoration:none;color:#666;font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:14px;font-weight:bold;}
a:visited {text-decoration:none;color:#666;font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:14px;font-weight:bold;}

.signInDiv1 {left:0px;}

.logoBlock {height:68px;padding:10px 0px 0px 0px;text-decoration:none;color:#666;font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:14px;font-weight:bold;}

.vImg {float:left;height:45px; width:1px;margin:10px 20px 10px 20px;}

.logo {float:left;padding:0px 0px 0px 20px;}

.logo-ccc {float:left;padding:10px 0px 0px 50px;}

.logo-bhn {float:left;padding:10px 0px 0px 40px;}

.logo-cox {float:left;padding:0px 0px 0px 26px;}

.signIn {float:left;padding:15px 5px 0px 0px;text-decoration:none;color:#666;font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:14px;font-weight:bold;}
.signInFont {font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:12px;color:#999;font-weight:bold;padding:10px 0px 15px 0px;}

.thankYou {float:left;padding:15px 5px 0px 100px;text-decoration:none;color:#666;font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:14px;font-weight:bold;}

.terms {padding:0px 0px 0px 25px;float:left;}

.btnGryLg {cursor:pointer;height:31px;width:80px;}
.btnGryLg .left {background-image:url("../images/btn_left_gry_lg.jpg");background-origin:padding-box;background-position:left top;background-repeat:no-repeat;background-size:auto auto;height:31px;}
.btnGryLg .right {background-image:url("../images/btn_right_gry_lg.jpg");background-origin:padding-box;background-position:right top;background-repeat:no-repeat;background-size:auto auto;height:31px;padding-bottom:0;padding-left:0px;padding-right:0px;padding-top:0;}
.btnGryLg .txt {background-attachment:scroll;background-clip:border-box;background-color:transparent;background-image:url("../images/btn_mdl_gry_lg.jpg");background-origin:padding-box;background-position:left top;background-repeat:repeat-x;background-size:auto auto;color:#000000;font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:13px;height:31px;text-align:center;width:76px;border:0 none;margin:0;padding:0;}

#frmSignIn .inputbox {border-color:#ccc;border-style:solid;border-width:2px 1px 1px 2px;height:25px;width:140px;}
#frmSignIn,
#frmSignIn form {margin:0px;padding:0px;}

label {float:left;font-weight:600;position:relative;width:100px;left:20px;font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;text-align:right;font-size:12px;color:#333;}	
label.slimForm {margin-top:2px;width:100px;}

a.bluFont, a.bluFont:hover {color:#0175AB;font-family:Arial,Helvetica,sans-serif;font-size:13px;position:relative;left:30px;top:22px;float:left;margin-top:2.5px;}
a.bluLink, a.bluLink:hover {color:#0175AB;font-family:Arial,Helvetica,sans-serif;font-size:13px;}

.btnSubmit {position:relative;margin-left:190px;padding-top:10px;padding-bottom:20px;}

.bgText {font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:1.2em;color:#666;font-weight:900;padding:10px 20px 10px 20px;}
.bgText2 {font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:12px;color:#666;font-weight:900;padding:10px 20px 10px 20px;}

.error {font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:12px;color:#f90a0a;padding:0px 0px 10px 0px;}

.clickText {text-align:left;padding:10px 20px 0px 25px}
.terms {position:relative;padding-right:10px}
.clickLink {font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:13px;color:#999;position:relative;margin-left:25px}

.faqLink {position:relative;float:left;margin-left:30px;top:-40px;}
.faq {font-weight:normal;}
.faq h1,h2,h3,h4,h5,h6 {color:#0175AB;font-family:Arial,Helvetica,sans-serif;}
.questions a {font-weight:normal}
.answers a {font-weight:normal}
.faq li {padding-bottom: 5px;}
.faq .question {font-weight:bold;padding-bottom:10px}
.faq .answer {padding-bottom:5px;}
